.newsletter{
    background-color: aquamarine;
    padding: 30px 60px;
    border-radius: 15px;
    margin-bottom: -60px;
}
.newsletter h2{
    color: #fff;
    text-align: center;
}
.subscribe input{
    border: none;
    outline: none;
}
.subscribe{
    padding: 7px 10px;
    background-color: #fff;
    width: 45%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}